<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/ajaxfileupload.js" type="text/javascript"></script>

    <style>
        #Layer1{position:relative;width:161px;   height:40px;   z-index:0;}
        #Layer1>select{position:absolute;width:182px  height:14px;   z-index:2;}
        #Layer1>input{position:absolute; width:159px; height:14px; z-index:3;}
    </style>

</head>
<body>
    <p><input type="file" id="file1" name="file" /></p>
    <p>
        <input type="button" id="qqq" value="上传" /><br/>
        <input type="text" id="fuzzysearch" name="search"/>
        <input type="button" id="www" value="查询" />
    </p>
    <p>
        <select type="text" id="fuzzyselect">
        </select>
    </p>

    <p>
        <div   id="Layer1" >
            <select   name="select"  onchange="txtID.value=this[selectedIndex].text">
                <option>111111</option>
                <option>22222222</option>
                <option>3333333</option>
                <option>4444</option>
            </select>
            <input type="text" name="txtID"  size="8"   value=""   maxlength=8>
        </div>
    </p>



    <script type="text/javascript">
        $(function () {
            $("#qqq").click(function () {
                ajaxFileUpload();
            })
        })
        function ajaxFileUpload() {
            $.ajaxFileUpload
            (
                {
                    url: '/upload', //用于文件上传的服务器端请求地址
                    secureuri: false, //是否需要安全协议，一般设置为false
                    fileElementId: 'file1', //文件上传域的ID
                    dataType: 'json', //返回值类型 一般设置为json
                    success: function (data, status)  //服务器成功响应处理函数
                    {
                        $("#img1").attr("src", data.imgurl);
                        if (typeof (data.error) != 'undefined') {
                            if (data.error != '') {
                                alert(data.error);
                            } else {
                                alert(data.msg);
                            }
                        }
                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                }
            )
            return false;
        }

        $("#fuzzysearch").blur(function () {
            fuzzy();
        })
        $(function () {
            $("#www").click(function () {
                fuzzy();
            })
        })
        function fuzzy() {
            $("#fuzzyselect").empty();
            document.getElementById("fuzzyselect").setAttribute("size",0)
            var searchtext=$("#fuzzysearch").val();
            var json={'reson':searchtext}
            $.ajax({
                async:false,
                url:'/search/fuzzysearch',
                type:"post",
                data:json,
                dataType:"json",
                success:function (data) {
                    document.getElementById("fuzzyselect").setAttribute("size",data.length)
                    for(i=0;i<data.length;i++){
                        $("#fuzzyselect").append("<option value="+i+">"+data[i]+"</option>");
                    }
                }
            })
        }
    </script>
</body>
</html>